[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "colors/molokai"]
	path = colors/molokai
	url = https://github.com/tomasr/molokai
